@font-face {
    font-family: 'Fira Sans';
    src: local('fonts/firasans/Fira Sans ExtraLight'), local('fonts/firasans/FiraSans-ExtraLight'), url('fonts/firasans/firasansextralight.woff2') format('woff2'), url('fonts/firasans/firasansextralight.woff') format('woff'), url('fonts/firasans/firasansextralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('fonts/firasans/Fira Sans Light'), local('fonts/firasans/FiraSans-Light'), url('fonts/firasans/firasanslight.woff2') format('woff2'), url('fonts/firasans/firasanslight.woff') format('woff'), url('fonts/firasans/firasanslight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('fonts/firasans/Fira Sans Book'), local('fonts/firasans/FiraSans-Book'), url('fonts/firasans/firasansbook.woff2') format('woff2'), url('fonts/firasans/firasansbook.woff') format('woff'), url('fonts/firasans/firasansbook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('fonts/firasans/Fira Sans'), local('fonts/firasans/FiraSans-Regular'), url('fonts/firasans/firasans.woff2') format('woff2'), url('fonts/firasans/firasans.woff') format('woff'), url('fonts/firasans/firasans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('fonts/firasans/Fira Sans Medium'), local('fonts/firasans/FiraSans-Medium'), url('fonts/firasans/firasansmedium.woff2') format('woff2'), url('fonts/firasans/firasansmedium.woff') format('woff'), url('fonts/firasans/firasansmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('fonts/firasans/Fira Sans SemiBold'), local('fonts/firasans/FiraSans-SemiBold'), url('fonts/firasans/firasanssemibold.woff2') format('woff2'), url('fonts/firasans/firasanssemibold.woff') format('woff'), url('fonts/firasans/firasanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('fonts/firasans/Fira Sans Bold'), local('fonts/firasans/FiraSans-Bold'), url('fonts/firasans/firasansbold.woff2') format('woff2'), url('fonts/firasans/firasansbold.woff') format('woff'), url('fonts/firasans/firasansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
