@font-face {
    font-family: 'Open Sans';
    src: local('fonts/opensans/Open Sans Light'), local('fonts/opensans/OpenSans-Light'), url('fonts/opensans/opensanslight.woff2') format('woff2'),
         url('fonts/opensans/opensanslight.woff') format('woff'), url('fonts/opensans/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('fonts/opensans/Open Sans'), local('fonts/opensans/OpenSans'), url('fonts/opensans/opensans.woff2') format('woff2'), url('fonts/opensans/opensans.woff') format('woff'),
         url('fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('fonts/opensans/Open Sans Semibold'), local('fonts/opensans/OpenSans-Semibold'), url('fonts/opensans/opensanssemibold.woff2') format('woff2'),
         url('fonts/opensans/opensanssemibold.woff') format('woff'), url('fonts/opensans/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('fonts/opensans/Open Sans Bold'), local('fonts/opensans/OpenSans-Bold'), url('fonts/opensans/opensansbold.woff2') format('woff2'),
         url('fonts/opensans/opensansbold.woff') format('woff'), url('fonts/opensans/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('fonts/opensans/Open Sans Extrabold'), local('fonts/opensans/OpenSans-Extrabold'), url('fonts/opensans/opensansextrabold.woff2') format('woff2'), url('fonts/opensans/opensansextrabold.woff') format('woff'), url('fonts/opensans/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
