<div id="adminPanelWrap">
	<div class="selectSection">
		<h3 class="text-left">Выберите раздел</h3>
		<form name='selectSection' class="text-left">
			<select id="selectSection" class="form-control" name="selectSection">
				{{#each sections}}
					<option value="{{name}}">{{secondname}}</option>
				{{/each}}
			</select>
			<div id='selectSectionButton' class="btn btn-success">Выбрать</div>
		</form>
	</div>
	<div class="selectCategory text-left">		
	</div>
	<div class="adminPanelGoods">	
	</div>
</div>



