<div id="formUser">
	<h1>Получатель</h1>
	<form>
		<div><label for="phoneForm" id="labelPhone"><span>*</span>Телефон</label></div>
		<div class="flexWrap">
			<input type="text" name="phone" class="blur" id="phoneForm">
			<div class="formText">Для смс о состоянии заказа</div>
		</div>
		<div><label for="emailForm" id="labelEmail"><span>*</span>E-mail</label></div>
		<div class="flexWrap">
			<input type="text" name="email" id="emailForm" class="blur">
			<div class="formText">Получать эксклюзивные предложения и информацию о заказе</div>
		</div>
		<div><label for="nameForm" id="labelName">Имя</label></div>
		<div class="flexWrap">
			<input type="text" id="nameForm" class="blur">
		</div>
	</form>
	<div class="band"></div>
	<div class="buttonOrder">Оформить</div>
</div>