<div id="goodslist">
	<h2>{{header}}</h2>
	<div id="rangeSliderWrap">
		Цена: <span>от</span>
         <input type="text" id="minCost" value="0"/> 
         <div id="rangeslider"></div>
         <span>до</span> 
         <input type="text" id="maxCost" value="1000"/>
         UAH
	</div>
	<hr>
	<div id="sortBlock">
		<div id="sortAuto">Автоматически</div>
		<div id="sortViews">Хиты продаж</div>
		<div id="sortPriceUp">По цене <span></span></div>
		<div id="sortPriceDown">По цене <span></span></div>
	</div>
	<div id="productsList">
	</div>
</div>
