<div id="addNewProductWrap" class="text-left">
	<div class="addNameWrap">
		<input type="text" class="inputName"  placeholder="введите название товара">
	</div>
	<div class="addImagesWrap">
		<input type="text" class="inputCountImages" placeholder="введите количество картинок">
		<div class="inputButtonImages btn btn-success">Выбрать</div>
		<form class="formImagesWrap"></form>
	</div>
	<div class="addPriceWrap">
		<input type="text" class="inputPrice"  placeholder="введите цену товара">
	</div>
	<div class="addAvailabilityWrap">
		<input type="text" class="inputAvailability"  placeholder="Укажите наличие (0 нет/1 да)">
	</div>
	<div class="addSpecificationWrap">
		<input type="text" class="inputCountOfTitleSpecification" placeholder="введите количество категорий описания">
		<div class="inputButtonCountOfTitleSpecification btn btn-success">Выбрать</div>
		<div class="formsSoecificationWrap"></div>
	</div>
	<div class="addDescriptionWrap">
		<textarea class="textareaDescription" cols="115" rows="20" placeholder="Введите описание"></textarea>
	</div>
	<div class="addNewProductButton btn btn-warning">Добавить товар в базу данных</div>
</div>