{{#each products}}
	<div class='col-xs-6 col-md-4 list-product-wrap'>
		<a class="product" href="#{{menucategory}}/{{goodscategory}}/{{id}}">
			 <div class="imageWrap">
			 	<img src="{{image}}" width="" alt="{{name}}">
			 </div>
			 <div class="price">
			 	<span>{{price}} UAH</span>
			 	{{#if availability}}
			 		<div class="buy" data="{{id}}">Купить</div>
			 	{{else}}
			 		<div class = "absent">Нет в наличии</div>
			 	{{/if}}
			 </div>
			 <div style="clear: both"></div>
			 <span class="name">{{name}}</span>
		</a>
	</div>
{{/each}}